.card {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fdfdfd;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
