/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

$breakpoints: ( 'xsmall': 0px, 'small': 767px, 'medium': 992px, 'large': 1200px, 'xlarge': 1600px );
$flex-gutter: 16px;
@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);
  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
       @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
     @warn"Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
  }
}

.flex-container {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 $flex-gutter;
  flex: 1!important;

  .vertical {
    flex-direction: column;

    > * {
      flex: 0;
    }
  }

  .flex-row {
    display: flex;
    flex: 0 1 calc(100%);
    flex-wrap: wrap;
    margin: 0 #{-$flex-gutter/2};
    justify-content: center;
    flex-direction: row;
    // 2 Columns
    &.xs-flex-2-columns {
      @include respond-to(xsmall) {
        flex: 0 1 calc(50% - #{$flex-gutter});
      }
    }

    &.sm-flex-2-columns {
      @include respond-to(small) {
        flex: 0 1 calc(50% - #{$flex-gutter});
      }
    }

    &.md-flex-2-columns {
      @include respond-to(medium) {
        flex: 0 1 calc(50% - #{$flex-gutter});
      }
    }

    &.lg-flex-2-columns {
      @include respond-to(large) {
        flex: 0 1 calc(50% - #{$flex-gutter});
      }
    }

    &.xlg-flex-2-columns {
      @include respond-to(xlarge) {
        flex: 0 1 calc(50% - #{$flex-gutter});
      }
    }
    // 3 Columns
    &.sm-flex-3-columns {
      @include respond-to(small) {
        flex: 0 1 calc(33.3% - #{$flex-gutter});
      }
    }

    &.md-flex-3-columns {
      @include respond-to(medium) {
        flex: 0 1 calc(33.3% - #{$flex-gutter});
      }
    }

    &.lg-flex-3-columns {
      @include respond-to(large) {
        flex: 0 1 calc(33.3% - #{$flex-gutter});
      }
    }

    &.xlg-flex-3-columns {
      @include respond-to(xlarge) {
        flex: 0 1 calc(33.3% - #{$flex-gutter});
      }
    }
    // 4 Columns
    &.sm-flex-4-columns {
      @include respond-to(small) {
        flex: 0 1 calc(25% - #{$flex-gutter});
      }
    }

    &.md-flex-4-columns {
      @include respond-to(medium) {
        flex: 0 1 calc(25% - #{$flex-gutter});
      }
    }

    &.lg-flex-4-columns {
      @include respond-to(large) {
        flex: 0 1 calc(25% - #{$flex-gutter});
      }
    }

    &.xlg-flex-4-columns {
      @include respond-to(xlarge) {
        flex: 0 1 calc(25% - #{$flex-gutter});
      }
    }

    > a {
      display: block;

      > * {
        width: auto;
      }
    }

    > * {
      width: auto;
      flex: inherit;
      margin: #{$flex-gutter/2};
      flex-wrap: wrap;
      flex-direction: row;
      overflow: hidden;
    }

    .flex-container {
      padding: 0;
    }
  }
}

#wrapper {
  @include respond-to(xlarge) {
    max-width: 1200px;
  }
  @include respond-to(large) {
    max-width: 1000px;
  }
  margin: auto;
}

#main {
	margin-top: 67px;
}

/* NON LAYOUT STUFF - SORRRYYYY */

h1 {
  font-weight: normal;
  letter-spacing: 0.24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0.24px;
  margin-bottom: 10px;
}

.btn:hover, .btn:hover {
    text-decoration: none;
}

button {
  font-family: Georgia, serif;
  font-size: 14px;
  width: 100%;
  background: linear-gradient(#5f5f5f 31%, #2b2b2b 95%);
  border: 1px solid #2b2b2b;
  color: #ffffff;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  padding: 0 1em;
  line-height: 3;
}

.recording {
  color: #ad2020;
}

.blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  position: relative;
  top: 1px;
  padding: 1px 0 0 0;
}

.not-recording-icon {
  position: relative;
  top: 1px;
  padding: 1px 0 0 0;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

.sf-nav__toggle {
  position: relative;
  top: 6px;
}


#header-title {
  padding: 6px 0 0 0;
}

.center {
  text-align: center;
}

.eip-h1 {
  height: 25px;
  margin: auto;
}

.product-detail > div {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 10px;
}

.record-button {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sf-ribbon {
  display: none;
}
