.card {
    .card-media {
        position: relative;
    }

    .card-media-children {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        display: flex;
        // divs at bottom of image
        align-items: flex-end;
        // not really needed as width will usually be 100%, but centre otherwise
        justify-content: center;
     }
}
