// IMAGE
// CSS trick I learnt to give a consistent div ratio, regardless of width of div or image supplied to it and whether is loaded or not

.media {
  width: 100%;
  // default to square height
  padding-top: 100%;
  display: block;
  position: relative;
  background-color: #ddd;
  background-clip: content-box;
  overflow: hidden;
  // align image to center and fit to box
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100% !important;
    min-width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: none !important;
    object-fit: cover;
    // Hide failed image icon
    text-indent: -10000px;
  }
  // APPARENTLY CAN CONTROL WITH PADDING TOP?
  // Padding top is 150% as all images are 180x270 (150% of width as height)
  // default to square media
  // &:after {
  //  padding-top: 100%;
  //  display: block;
  //  content: '';
  //  }
  //
  //  &.portrait::after {
  //      padding-top: 150%;
  //  }
  //
  //  &.landscape::after {
  //      padding-top: 50%;
  //  }
}
