.card {
    // All divs within card are spaced with margins so they collapse nicely.
    // If a divide is needed, use divider so that spacing isnt doubled rather than padding + border
    .card-divider {
        border: 1px solid;
        margin: 16px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
